# Banco de dados Supabase
DATABASE_URL=postgresql://postgres:Spancerski!23@db.bavdudpnjjqxvzrqnceo.supabase.co:5432/postgres

# JWT Auth
SECRET_KEY=JurisSpancersk!
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Email (Resend)
RESEND_API_KEY=re_P61C7ZZQ_6qck8ppQCY1FFExDzYeQK4ZA
MAIL_FROM=onboarding@resend.dev

# URLs
BASE_URL=http://localhost:8000
FRONTEND_URL=http://127.0.0.1:5500
ADMIN_SECRET_KEY=JurisSpancersk!

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://bavdudpnjjqxvzrqnceo.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_AusVVyB0H97qctY2NR776w_W4sp8R-E
